@import "style/variables";
@import "style/mixins";

.app {
	min-height: 100vh;
	display: flex;
}

.app-content {
	height: calc(100% - 72px);
	margin-top: 72px;
	flex-grow: 1;

	@media screen and (min-width: $nav-sm) {
		height: 100%;
		width: calc(100% - 72px);
		margin-top: 0;
		margin-left: auto;
		flex-grow: 0;
		transition: width 0.4s ease-in-out;

		&--with-header-expanded {
			width: calc(100% - 264px);
		}
	}
}
