@import "style/variables";

.my-toast {
    width: 336px;

    .Toastify__toast {
        svg {
            display: none;
        }

        &::before {
            position: relative;
            left: 12px;
            top: 11px;
        }

        button {
            font-weight: 500;
            text-align: center;
            width: 58px;
            height: 24px;
            background-color: transparent;
            border: none;
            border-radius: 4px;
        }

        &--success {
            background-color: $color-neon-green-delta;

            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1546_11728)'%3E%3Cpath d='M17.4281 8.07168C17.939 8.58262 17.939 9.41699 17.4281 9.92793L11.4281 15.9279C10.9172 16.4389 10.0828 16.4389 9.57186 15.9279L6.57186 12.9279C6.06093 12.417 6.06093 11.5826 6.57186 11.0717C7.0828 10.5607 7.91718 10.5607 8.42811 11.0717L10.5 13.1436L15.5719 8.07168C16.0828 7.56074 16.9172 7.56074 17.4281 8.07168Z' fill='%239BD71A'/%3E%3Cpath opacity='0.4' d='M0 12C0 5.37188 5.37188 0 12 0C18.6281 0 24 5.37188 24 12C24 18.6281 18.6281 24 12 24C5.37188 24 0 18.6281 0 12ZM17.4281 9.92813C17.9391 9.41719 17.9391 8.58281 17.4281 8.07187C16.9172 7.56094 16.0828 7.56094 15.5719 8.07187L10.5 13.1437L8.42813 11.0719C7.91719 10.5609 7.08281 10.5609 6.57187 11.0719C6.06094 11.5828 6.06094 12.4172 6.57187 12.9281L9.57187 15.9281C10.0828 16.4391 10.9172 16.4391 11.4281 15.9281L17.4281 9.92813Z' fill='%239BD71A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1546_11728'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            button {
                color: $color-neon-green-epsilon;

                &:hover {
                    background-color: rgba(155, 215, 26, 0.25);
                }
            }
        }

        &--error {
            background-color: $color-red-beta;

            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1546_11672)'%3E%3Cpath d='M12 14.25C12.6211 14.25 13.125 13.7461 13.125 13.125V7.125C13.125 6.50625 12.6234 6 12 6C11.3766 6 10.875 6.50625 10.875 7.125V13.125C10.875 13.7484 11.3812 14.25 12 14.25ZM12 15.8016C11.1862 15.8016 10.5262 16.4616 10.5262 17.2753C10.5281 18.0891 11.1844 18.75 12 18.75C12.8156 18.75 13.4737 18.09 13.4737 17.2762C13.4719 16.4625 12.8156 15.8016 12 15.8016Z' fill='%23D03E00'/%3E%3Cpath opacity='0.4' d='M12 0C5.37188 0 0 5.37188 0 12C0 18.6281 5.37188 24 12 24C18.6281 24 24 18.6281 24 12C24 5.37188 18.6281 0 12 0ZM10.875 7.125C10.875 6.50625 11.3813 6 12 6C12.6187 6 13.125 6.50391 13.125 7.125V13.125C13.125 13.7461 12.6211 14.25 12 14.25C11.3789 14.25 10.875 13.7484 10.875 13.125V7.125ZM12 18.75C11.1862 18.75 10.5262 18.09 10.5262 17.2762C10.5262 16.4625 11.1858 15.8025 12 15.8025C12.8142 15.8025 13.4738 16.4625 13.4738 17.2762C13.4719 18.0891 12.8156 18.75 12 18.75Z' fill='%23D03E00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1546_11672'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            button {
                color: $color-red-alpha;

                &:hover {
                    background-color: rgba(208, 62, 0, 0.25);
                }
            }
        }

        &--warning {
            background-color: $color-yellow-alpha;

            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_810_11939)'%3E%3Cpath d='M12 15C12.6234 15 13.125 14.4984 13.125 13.875V7.875C13.125 7.25391 12.6211 6.75 12.0422 6.75C11.4633 6.75 10.875 7.25625 10.875 7.875V13.875C10.875 14.4984 11.3812 15 12 15ZM12 16.5516C11.1862 16.5516 10.5262 17.2116 10.5262 18.0253C10.5281 18.8391 11.1844 19.5 12 19.5C12.8156 19.5 13.4737 18.84 13.4737 18.0262C13.4719 17.2125 12.8156 16.5516 12 16.5516Z' fill='%23DFAE00'/%3E%3Cpath opacity='0.4' d='M23.7328 19.5469L13.7344 2.48438C12.9689 1.17188 11.0372 1.17188 10.2666 2.48438L0.272806 19.5469C-0.496413 20.8547 0.461665 22.5 2.00343 22.5H22.0003C23.5359 22.5 24.4969 20.8594 23.7328 19.5469ZM10.875 7.875C10.875 7.25391 11.3789 6.75 12 6.75C12.6211 6.75 13.125 7.25625 13.125 7.875V13.875C13.125 14.4961 12.6211 15 12.0422 15C11.4633 15 10.875 14.4984 10.875 13.875V7.875ZM12 19.5C11.1862 19.5 10.5262 18.84 10.5262 18.0262C10.5262 17.2125 11.1858 16.5525 12 16.5525C12.8142 16.5525 13.4737 17.2125 13.4737 18.0262C13.4719 18.8391 12.8156 19.5 12 19.5Z' fill='%23DFAE00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_810_11939'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            button {
                color: $color-yellow-gamma;

                &:hover {
                    background-color: rgba(223, 174, 0, 0.25);
                }
            }
        }

        &--info {
            background-color: $color-blue-gamma;

            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1546_11679)'%3E%3Cpath d='M12 9C12.8283 9 13.5 8.32828 13.5 7.5C13.5 6.67172 12.8283 6 12 6C11.1717 6 10.5 6.67031 10.5 7.5C10.5 8.32969 11.1703 9 12 9ZM13.875 15.75H13.125V11.625C13.125 11.0062 12.6234 10.5 12 10.5H10.5C9.88125 10.5 9.375 11.0062 9.375 11.625C9.375 12.2438 9.88125 12.75 10.5 12.75H10.875V15.75H10.125C9.50625 15.75 9 16.2563 9 16.875C9 17.4937 9.50625 18 10.125 18H13.875C14.4961 18 15 17.4961 15 16.875C15 16.2539 14.4984 15.75 13.875 15.75Z' fill='%2308576F'/%3E%3Cpath opacity='0.4' d='M12 0C5.37188 0 0 5.37188 0 12C0 18.6281 5.37188 24 12 24C18.6281 24 24 18.6281 24 12C24 5.37188 18.6281 0 12 0ZM12 6C12.8283 6 13.5 6.67172 13.5 7.5C13.5 8.32828 12.8283 9 12 9C11.1717 9 10.5 8.32969 10.5 7.5C10.5 6.67031 11.1703 6 12 6ZM13.875 18H10.125C9.50625 18 9 17.4984 9 16.875C9 16.2516 9.50391 15.75 10.125 15.75H10.875V12.75H10.5C9.87891 12.75 9.375 12.2461 9.375 11.625C9.375 11.0039 9.88125 10.5 10.5 10.5H12C12.6211 10.5 13.125 11.0039 13.125 11.625V15.75H13.875C14.4961 15.75 15 16.2539 15 16.875C15 17.4961 14.4984 18 13.875 18Z' fill='%2308576F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1546_11679'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            button {
                color: $color-blue-alpha;

                &:hover {
                    background-color: $color-blue-beta;
                }
            }
        }

        .Toastify__toast-body {
            font-family: "AkzidenzGroteskPro";
            align-items: flex-start;
            font-style: normal;
            font-weight: 500;
            position: relative;
            right: 0.5rem;
            font-size: 16px;
            line-height: 24px;
            color: $color-secondary-delta;
        }
    }
}
