.base-modal-details {
    &__modal-body {
        overflow: scroll;
        height: 65vh;
        padding: 0.5rem 1px !important;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .modal-content {
        width: 500px;
    }

    .base-modal-details__modal-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
