@import "style/variables";

.export-radio-button-group {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 40px;

    > input {
        margin-left: 0.5rem;
    }

    > label {
        margin-left: 0.5rem;
    }
}

.export-label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: $color-cosmos-blue-epsilon;
    margin-bottom: 1rem;
}
