.filter-panel {
    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 26px 0px;

        &-group {
            display: flex;
            justify-content: space-between;
            gap: 8px;

            @media only screen and (max-width: 430px) {
                flex-direction: column;
            }
        }

        &-row {
            flex: 1;
        }

        @media only screen and (max-width: 430px) {
            flex-direction: column;
        }
    }

    &__quick-links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 26px 0px;
        border-top: 1px solid #eef0f2;
        text-decoration: underline;
    }

    &-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        position: sticky;
        top: 0;
    }
}
