// ******************+
// Colors
// ******************+
$color-primary-alpha: #002649;
$color-primary-beta: #dafda3;
$color-primary-gamma: #ff8b59;
$color-primary-delta: #bce6f3;

$color-secondary-alpha: #fcf8f2;
$color-secondary-beta: #fbfaf9;
$color-secondary-gamma: #eef0f2;
$color-secondary-delta: #262b31;

$color-gray-alpha: #fcfcfc;
$color-gray-beta: #fafafa;
$color-gray-gamma: #f4f5f5;
$color-gray-delta: #eef0f2;
$color-gray-epsilon: #e7e7e7;
$color-gray-zeta: #e3e3e3;

$color-green-alpha: #5b8206;
$color-green-beta: #9bd71a;
$color-green-gamma: #f0fbd8;

$color-neon-green-alpha: #3b4926;
$color-neon-green-beta: #dafda3;
$color-neon-green-gamma: #f0feda;
$color-neon-green-delta: #f0fbd8;
$color-neon-green-epsilon: #5b8206;

$color-blue-alpha: #08576f;
$color-blue-beta: #bce6f3;
$color-blue-gamma: #eff8fa;
$color-blue-delta: #0a3761;
$color-blue-epsilon: #e2f9fe;

$color-cosmos-blue-alpha: #f5f8fa;
$color-cosmos-blue-beta: #eff2f5;
$color-cosmos-blue-gamma: #e6ebef;
$color-cosmos-blue-delta: #cdd8e2;
$color-cosmos-blue-epsilon: #72889d;
$color-cosmos-blue-zeta: #4d5f6f;
$color-cosmos-blue-eta: #243b50;

$color-red-alpha: #d03e00;
$color-red-beta: #ffede5;
$color-red-gamma: #fff8f5;

$color-black: #000000;
$color-white: #ffffff;
$color-transparent: "transparent";

$color-icon-light: #bfc8d1;
$color-icon-dark: #657c91;

$color-yellow-alpha: #fff7db;
$color-yellow-beta: #dfae00;
$color-yellow-gamma: #775d00;

// ******************+
// Breakpoints
// ******************+
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$nav-sm: 430px;
$nav-lg: 1440px;

// ******************+
// Modal sizes
// ******************+
$modal-sm: 456px;
