@import "_variables.scss";

:export {
    colorCosmosBlueAlpha: $color-cosmos-blue-alpha;
    colorGrayBeta: $color-gray-beta;
    colorBlueGamma: $color-blue-gamma;
    colorPrimaryAlpha: $color-primary-alpha;
    colorCosmosBlueDelta: $color-cosmos-blue-delta;
    colorSecondaryDelta: $color-secondary-delta;
    colorGrayEpsilon: $color-gray-epsilon;
    colorWhite: $color-white;
    colorTransparent: $color-transparent;
    colorRedAlpha: $color-red-alpha;
    colorRedBeta: $color-red-beta;
    colorBlueBeta: $color-blue-beta;
    colorBlueEpsilon: $color-blue-epsilon;
}
