@import "style/variables";

.base-modal {
    .modal-content {
        padding: 0 1.5rem;
        z-index: 10;
        border-radius: 8px;
    }

    .modal-header {
        font-weight: 700;
        padding: 1.5rem 0 1.5rem 0;

        &.modal-border-bottom {
            border-bottom: 1px solid $color-secondary-gamma;
        }

        .btn-close {
            color: $color-primary-alpha;
            padding: 0;
            margin: 0;
            width: 13px;
            height: 13px;
            opacity: 1;
            background: transparent
                url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2016%2016%27%20fill%3D%27%2372889D%27%3E%3Cpath%20d%3D%27M.293.293a1%201%200%20011.414%200L8%206.586%2014.293.293a1%201%200%20111.414%201.414L9.414%208l6.293%206.293a1%201%200%2001-1.414%201.414L8%209.414l-6.293%206.293a1%201%200%2001-1.414-1.414L6.586%208%20.293%201.707a1%201%200%20010-1.414z%27%2F%3E%3C%2Fsvg%3E")
                center/1em auto no-repeat;

            &:hover {
                opacity: 1;
                background: transparent
                    url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2016%2016%27%20fill%3D%27%23002649%27%3E%3Cpath%20d%3D%27M.293.293a1%201%200%20011.414%200L8%206.586%2014.293.293a1%201%200%20111.414%201.414L9.414%208l6.293%206.293a1%201%200%2001-1.414%201.414L8%209.414l-6.293%206.293a1%201%200%2001-1.414-1.414L6.586%208%20.293%201.707a1%201%200%20010-1.414z%27%2F%3E%3C%2Fsvg%3E")
                    center/1em auto no-repeat;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .modal-title {
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 2rem;
        }
    }

    .modal-body {
        padding: 2rem 0;
        white-space: pre-wrap;
    }

    .modal-footer {
        padding: 1.5rem 0 1.5rem 0;

        &.modal-border-top {
            border-top: 1px solid $color-secondary-gamma;
        }
    }
}
